html {
  scroll-behavior: smooth;
  margin-bottom: 0;
}

nav {
  overflow: hidden;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #002229;
  position: fixed;
  top: 0;
  width: 100%;

}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

nav li a:hover {
  background-color: #BDDBD2;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  clear: both;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

hr {
  width: 95%;
  height: 0.5rem;
  background-color: #001114;
}

.circle {
 border-radius: 50%;
 padding: 0px;
 width: 25rem;
 height: 25rem;
}

h1 {
  text-align: center;
  color: #001114;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}

#welcome-header {
  width: 58rem;
  margin: auto;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: left;
  color: #002229;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

h3 {
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 0.25rem;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.3rem;
  color: #002229;
  font-family: "Cardo", serif;
}

.centered {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*For the different "page-like" sections of the website*/
.group {
  text-align: justify;
  padding: 1.5rem;
  width: 96%;
  clear:both;
}

.group li {
  font-size: 1.3rem;
  color: #002229;
  font-family: "Cardo", serif;
}

.icon-links {
  font-size: 4rem;
}

.icon-links a {
  color: #002229;
}

.project-image {
  height: 20rem;
  width: auto;
  float: right;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom:1.5rem;
}

.float-left {
  float: left;
  margin-right: 1.5rem;
}

.float-right {
  float: right;
  margin-left: 1.5rem;
}

.right-text {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.resume {
  width: 40%;
  height: 500px;
}

button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: white;
  border: 0.2rem solid #CEABB1;
  color: #CEABB1;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 12rem;
  margin: 0.5rem;
}

button:hover {
  background-color: #CEABB1;
  color: white;
}

.fun-fact {
  width: 65%;
  height: 4rem;
  text-align: center;
  text-transform: none;
  background-color: #BDDBD2;
  border-radius: 0.25rem;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
}

.footer {
  width: 100%;
  height: 10%;
  background-color: #002229;
  padding-bottom: 0;
  margin-bottom: 0;
}

.icon-footer {
  font-size: 2rem !important;
  text-align: center;
  height: 5%;
  padding: 0.25rem;
  margin: 0;
}

.icon-footer a {
  color: white;
}

.comment-button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: white;
  border: 0.10rem solid #CEABB1;
  color: #CEABB1;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  padding: 0.75rem;
  margin-top: 0;
  width: auto;
}

.comment-button:hover {
  background-color: #CEABB1;
  color: white;
}

.comment {
  width: 98%;
  margin-left: 0;
  background-color: #BDDBD2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.comment p {
  font-size: 1rem;
}

#comments p {
  margin-top: 0.75rem;
}

textarea {
  width: 50%;
  padding: 1rem 1.25rem;
  margin-top: 0;
  margin-right: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border-color: #002229;
  color: #002229;
  font-family: "Cardo", serif;
  font-size: 1rem;
}

input[type=number] {
  width: 3rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border-color: #002229;
  font-family: "Cardo", serif;
  font-size: 1rem;
  border-width: thin;
}
